* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background-color: #25150E;
}

.barra {
    height: 150px;
    max-width: cover;
    background-color: #ECDAC4;
}

.logo {
    margin: 0px 50px;
    position: relative;
    top: 20px;
    width: 100px;
    height: 100px;
    border: 8px solid #ffefdb;
    box-shadow: 0 0 0 12px #352a22;
    border-radius: 10px 10px 60px 75px;
    background: url('images/coffee.png');
    background-repeat: repeat-x;
    background-position: 0 130px;
    animation: enchendo 4s infinite;
}

@keyframes enchendo {
    0%, 100% {
        background-position: 0 130px;
    }

    50% {
        background-position: 600px -70px;
    }
}

.logo-apoio {
    position: relative;
    left: 104px;
    width: 30px;
    height: 60px;
    border: 7px solid #352a22;
    border-radius: 20px 10px 50px 20px;
}

.logo-texto{
    position: relative;
    left: 200px;
    top: -70px;
    font: 1000 3rem 'Montserrat';
    background: linear-gradient(to right, #C08C5A, #25150E, #ECDAC4);
    background-size: 200% auto;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow:#25150E -2px 0, #C08C5A 2px 0;
}

.quadro {
    margin: -90px 1700px;
    top: 20px;
    left: 1600px;
    width: 80px;
    height: 105px;
    font-family: 'Open Sans';
}

.quadro .quadro-dentro {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 8px;
    backdrop-filter: blur(12px);
    background: rgba(255, 255, 255, .05);
    box-shadow: 0 0 20px rgba(0, 0, 0, .2);
}

.quadro .perfil img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    border: 12px solid rgba(255, 255, 255, .05);
}

.quadro .perfil {
    transform: translateY(20px);
    transition: .4s ease-out;
}

.quadro:hover .perfil {
    transform: translateY(0);
}

.post-container {
    margin: 30px 550px;
}

.caixa{
    width: 680px;
    height: 680px;
    background: #f4f7f8;
    border-radius: 12px;
}

.usuario {
    position: relative;
    top: -110px;
    right: 85px;
    width: 30px;
    height: 30px;
    border-radius: 5px;
}

.usuario:hover{
    width: 40px;
    height: 40px;
}

.usuario-string {
    position: relative;
    top: -130px;
    right: -80px;
    font : 10 1rem 'Montserrat';
}

.like {
    position: relative;
    top: 370px;
    width: 30px;
    height: 30px;
}

.like:hover{
    opacity: 0.5;
}

.like-string {
    position: relative;
    top: 370px;
    left: 5px;
    font : 10 1rem 'Montserrat';
}

.comentarios {
    position: relative;
    top: 318px;
    left: 50px;
    width: 30px;
    height: 30px;
}

.comentarios-string-usuario{
    position: relative;
    top: 550px;
    font: 15px 'Montserrat';
    text-shadow:#25150E 1px 0;
}
.comentarios-string{
    position: relative;
    top: 550px;
    font: 15px 'Montserrat';
}

.comentarios:hover{
    opacity: 0.5;
}

.compartilhar {
    position: relative;
    top: 246px;
    left: 103px;
    width: 30px;
    height: 30px;
}

.compartilhar:hover{
    opacity: 0.5;
}

.salvar {
    position: relative;
    top: 248px;
    left: 600px;
    width: 30px;
    height: 30px;  
}

.salvar:hover{
    opacity: 0.5;
}

.etc {
    position: relative;
    top: -100px;
    left: 565px;
    width: 30px;
    height: 30px;
}

.etc:hover{
    opacity: 0.5;
}

.post {
    position: relative;
    top: -55px;
    width: 680px;
    height: 240px;
    border-width: 10px;
    border-style :solid;
    border-color: #25150E;
}

.post-title {
    position: relative;
    top: -335px;
    font : 10 2rem 'Montserrat';
}

.post-body {
    position: relative;
    top: -25px;
    font : 10 1rem 'Montserrat';
}